@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@font-face {
  font-family: "KOHIBaeumOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
  color: #3b3b3b;
  font-family: "Pretendard";
  font-size: 1.8rem;
}

.inner {
  max-width: calc(100% - 62rem);
  margin: 0 auto;
  height: auto;
}

.nav {
  width: 100%;
  height: 7.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__logo img {
  width: 17.3rem;
  height: 4.2rem;
}
.nav__menu {
  cursor: pointer;
}
.nav__menu img {
  width: 6rem;
  height: 6rem;
}
.nav__list {
  display: flex;
}
.nav__list a {
  margin-left: 7.9rem;
}
.nav__list a li {
  color: #303030;
}

.mobile__nav {
  display: none;
}

.main {
  width: 100%;
  height: 108rem;
  background-image: url(/img/main.png);
  background-size: cover;
  background-position: center;
}
.main .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main__title-box {
  color: white;
  text-align: left;
  padding-bottom: 16.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.83);
  text-align: right;
}
.main__title {
  font-family: "KOHIBaeumOTF";
  font-size: 6.1rem;
}
.main__text {
  font-size: 2.2rem;
  line-height: 3.8rem;
  font-weight: 500;
  margin-top: 2rem;
}

.about {
  width: 100%;
  height: 100%;
}
.about .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 11rem 0 10.8rem 0;
}
.about__title-box {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about__title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #2b4d84;
}
.about__text {
  font-size: 3.6rem;
  margin-top: 2.8rem;
  font-weight: 600;
}
.about__text-bottom {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-top: 2.8rem;
  max-width: 60%;
}
.about__card {
  margin-top: 16.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__card .card {
  width: calc(33.3333333333% - 4rem);
  height: 42rem;
  border: 1px solid #2b4d84;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__card .card:hover {
  transform: rotateY(360deg);
  transition: 1s;
  perspective: 150px;
  background-color: #2b4d84;
}
.about__card .card:hover > .card__text {
  color: white;
}
.about__card .card:hover > .card__icon-1, .about__card .card:hover > .card__icon-2, .about__card .card:hover > .card__icon-3 {
  fill: white;
}
.about__card .card__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 3rem;
  color: #2b4d84;
}
.about__card .card__icon-1 {
  width: 15.7rem;
  height: 13.2rem;
  background-size: cover;
  background-position: center;
  fill: #2b4d84;
}
.about__card .card__icon-2 {
  width: 13rem;
  height: 13.2rem;
  background-size: cover;
  background-position: center;
  fill: #2b4d84;
}
.about__card .card__icon-3 {
  width: 13.8rem;
  height: 12.6rem;
  background-size: cover;
  background-position: center;
  fill: #2b4d84;
}

.highlight {
  font-weight: 800;
}

.history {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}
.history .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15.7rem 0;
  position: relative;
}
.history__title-box {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.history__title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #2b4d84;
}
.history__text {
  font-size: 3rem;
  margin-top: 2.8rem;
  font-weight: 600;
}
.history__highlight {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 800;
}
.history__content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6.5rem;
}
.history__content-1 {
  display: flex;
  width: 40%;
  height: 100%;
  text-align: left;
}
.history__content-1 .content__top {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2b4d84;
  margin-top: 2.5rem;
  padding: 0.5rem 0 0.5rem 0;
}
.history__content-1 .content__bottom {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 0 0 2.5rem 0;
}
.history__content-2 {
  background-color: #2b4d84;
  padding-left: 3rem;
  padding-bottom: 4.1rem;
  width: 40%;
  height: 45.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.history__content-2 p {
  text-align: left;
  color: white;
}
.history__content-2 .content__title {
  font-size: 2rem;
  font-weight: 100;
}
.history__content-2 .content__content {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.smart {
  width: 100%;
  height: 100%;
  background-image: url(../img/smart_bg.png);
  background-size: cover;
  background-position: center;
}
.smart .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15.7rem 0;
  position: relative;
}
.smart__title-box {
  display: flex;
  flex-direction: column;
}
.smart__title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #2b4d84;
}
.smart__text {
  font-size: 3rem;
  margin-top: 2.8rem;
  font-weight: 600;
}
.smart__highlight {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 800;
}
.smart__content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 9.7rem;
}
.smart .content-box {
  height: 48.1rem;
  width: calc(25% - 2rem);
  background-size: cover;
  background-position: center;
  padding: 3rem 4rem;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.smart .content-box:hover {
  scale: 1.1;
  transition: 1s;
}
.smart .content-box:nth-child(1) {
  background-image: url(../img/smart_content-1.png);
}
.smart .content-box:nth-child(2) {
  background-image: url(../img/smart_content-2.png);
}
.smart .content-box:nth-child(3) {
  background-image: url(../img/smart_content-3.png);
}
.smart .content-box:nth-child(4) {
  background-image: url(../img/smart_content-4.png);
}
.smart .content-box__title {
  text-align: right;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 600;
}
.smart .content-box__content {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 2rem;
  font-weight: 300;
}

.video {
  width: 100%;
  height: 100%;
  background-color: #2b4d84;
  color: white;
}
.video .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15.7rem 0;
  position: relative;
}
.video__title-box {
  display: flex;
  flex-direction: column;
}
.video__title {
  font-size: 1.8rem;
  font-weight: 800;
}
.video__text {
  font-size: 3rem;
  margin-top: 2.8rem;
  font-weight: 600;
}
.video__highlight {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 800;
}
.video__content {
  width: 100%;
  height: 54.8rem;
  background-color: white;
  margin-top: 7.6rem;
}

.connect {
  width: 100%;
  height: 100%;
  background-image: url(../img/connect_bg.png);
  background-position: center;
  background-size: cover;
  text-align: left;
}
.connect .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15.7rem 0;
  position: relative;
}
.connect__title-box {
  display: flex;
  flex-direction: column;
}
.connect__title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #2b4d84;
}
.connect__text {
  font-size: 3rem;
  margin-top: 2.8rem;
  font-weight: 700;
}
.connect__bottom {
  font-size: 1.8rem;
  margin-top: 2.6rem;
  font-weight: 300;
}
.connect__highlight {
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 800;
}
.connect__content {
  width: 100%;
  margin-top: 9.4rem;
  display: flex;
}
.connect__content-address {
  width: 45%;
}
.connect__content-address td {
  padding-bottom: 3rem;
  padding-right: 2.5rem;
  color: #4a4a4a;
}

.contact_form {
  font-size: 1.8rem;
}
.contact_form input {
  width: 90%;
  height: 5rem;
}

.form-elements {
  display: flex;
  flex-direction: column;
}

.form-elements__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.connect__content-email {
  width: 70%;
}

textarea {
  height: 23.7rem;
  width: 90%;
}

.button-success {
  width: 20rem;
  height: 5rem;
  background-color: #2b4d84;
  color: white;
  font-size: 1.8rem;
  border: none;
  margin-top: 7.4rem;
  align-self: flex-end;
}

.thankyou_message {
  display: none;
}

.footer {
  width: 100%;
  height: 26rem;
  color: white;
  background-color: #2b4d84;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer .inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
}
.footer__list a {
  margin-right: 4.7rem;
  color: white;
}
.footer__list a li {
  font-size: 1.5rem;
}
.footer__address {
  margin-top: 2.9rem;
  line-height: 3rem;
}
.footer__copy {
  margin-top: 4.4rem;
}
.footer__left {
  display: flex;
  flex-direction: row;
}
.footer__content {
  margin-left: 14.6rem;
}
.footer__logo img {
  width: 9.3rem;
  height: 14rem;
}
.footer__top img {
  width: 7.6rem;
  height: 7.6rem;
}

.mob_br {
  display: none;
}

.mobile__nav-menu {
  display: none;
}

@media screen and (max-width: 1700px) {
  .inner {
    max-width: calc(100% - 10rem);
  }
}
@media screen and (max-width: 1500px) {
  .nav {
    display: none;
  }
  .mobile__nav-menu {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 9;
    display: none;
  }
  .mobile__nav-menu .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile__nav-menu .mobile__nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile__nav-menu .nav__btn-cls {
    cursor: pointer;
  }
  .mobile__nav-menu .nav__btn-cls img {
    width: 6rem;
    height: 6rem;
  }
  .mobile__nav-menu .nav__mob_logo img {
    width: 20rem;
    height: 4.2rem;
  }
  .mobile__nav-menu .menu {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    text-align: left;
    width: 100%;
  }
  .mobile__nav-menu .menu a {
    text-decoration: none;
    font-size: 2.2rem;
    color: #303030;
    margin-top: 2.4rem;
    font-weight: 600;
  }
  .mobile__nav-menu .menu li::after {
    content: "";
    width: 100%;
    border: 1px solid #b2b2b2;
    display: flex;
    margin-top: 2.2rem;
  }
  .mobile__nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.5rem;
  }
  .mobile__nav .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile__nav .nav__btn {
    cursor: pointer;
  }
  .mobile__nav .nav__btn img {
    width: 6rem;
    height: 6rem;
  }
  .mobile__nav .nav__mob_logo img {
    width: 20rem;
    height: 4.2rem;
  }
  .about__card .card {
    width: 43.8rem;
    height: 43.8rem;
  }
  .about__card {
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__card .card:nth-child(1) {
    margin-top: 0rem;
  }
  .about__card .card:nth-child(2) {
    margin-top: 2rem;
  }
  .about__card .card:nth-child(3) {
    margin-top: 2rem;
  }
  .history__content-box {
    flex-direction: column;
  }
  .history__content-1 {
    width: 100%;
  }
  .history__content-2 {
    width: 100%;
    margin-top: 13.3rem;
    padding-right: 3rem;
    align-items: flex-end;
  }
  .smart .content-box {
    height: 63rem;
    width: calc(50% - 2rem);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  table {
    width: 100%;
  }
  .connect__content {
    flex-direction: column;
  }
  .connect__content-address {
    width: 100%;
  }
  .connect__content-email {
    width: 100%;
    margin-top: 9.5rem;
  }
  .smart__highlight {
    line-height: 5.1rem;
  }
  .mob_br {
    display: block;
  }
  .footer {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
  .footer .inner {
    flex-direction: column;
    padding: 4rem 0;
  }
  .footer__content {
    margin-left: 0rem;
    margin-top: 2.6rem;
    text-align: center;
  }
  .footer__left {
    flex-direction: column;
    align-items: center;
  }
  .footer__address {
    margin-top: 4.2rem;
  }
  .footer__copy {
    margin-top: 2.3rem;
  }
  .footer__logo img {
    width: 7rem;
    height: 10.5rem;
  }
  .footer__top img {
    display: none;
  }
  .footer__list {
    justify-content: space-between;
  }
  .footer__list a {
    margin-right: 0rem;
  }
}
@media screen and (max-width: 576px) {
  .inner {
    max-width: calc(100% - 5rem);
  }
  .about .inner,
.history .inner,
.smart .inner,
.video .inner,
.connect .inner {
    padding: 6rem 0;
  }
  .mobile__nav .nav__mob_logo img {
    width: 12.3rem;
    height: 2.9rem;
  }
  .mobile__nav-menu .nav__mob_logo img {
    width: 12.3rem;
    height: 2.9rem;
  }
  .main__title {
    font-size: 3.8rem;
  }
  .main__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    margin-top: 2.5rem;
  }
  .about__text {
    font-size: 2.4rem;
    margin-top: 1.4rem;
    font-weight: 600;
  }
  .about__text-bottom {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 3.5rem;
  }
  .about__card .card {
    width: 33.8rem;
    height: 33.8rem;
  }
  .about__card .card__text {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.3rem;
  }
  .history__text {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .history__highlight {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .history__content-box {
    margin-top: 5.5rem;
  }
  .history__content-1 .content__top {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .history__content-1 .content__bottom {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
    width: 50%;
    padding-right: 2rem;
  }
  .history__content-2 .content__title {
    font-size: 1.6rem;
  }
  .history__content-2 {
    height: 29.3rem;
    margin-top: 5.2rem;
  }
  .history__content-2 .content__content {
    font-size: 3.6rem;
    margin-top: 1rem;
  }
  .smart__text {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .smart__highlight {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .smart__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.7rem;
  }
  .smart .content-box {
    height: 26rem;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 3rem;
  }
  .smart .content-box__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .smart .content-box__content {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.6rem;
  }
  .video__text {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .video__highlight {
    font-size: 2.4rem;
    margin-top: 1.4rem;
  }
  .video__content {
    height: 21.4rem;
    margin-top: 3.5rem;
  }
  .connect__text {
    font-size: 2.4rem;
    margin-top: 2.5rem;
  }
  .connect__bottom {
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 2.4rem;
  }
  .connect tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .connect__content-address td {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-right: 0;
  }
  .contact_form input {
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
  }
  textarea {
    width: 100%;
    margin-top: 1rem;
  }
  .connect__content {
    margin-top: 4.2rem;
  }
  .connect__content-email {
    margin-top: 4rem;
  }
  .form-elements__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .button-success {
    width: 14.4rem;
    height: 3.9rem;
    font-size: 1.6rem;
    margin-top: 4.3rem;
  }
  .highlight {
    font-weight: 800;
    display: block;
    margin-top: 0.6rem;
  }
  .history__highlight {
    font-size: 2.4rem;
    margin-top: 0.4rem;
    line-height: 3.2rem;
  }
  .smart__text {
    font-size: 2.1rem;
    margin-top: 1.4rem;
  }
  .smart__highlight {
    font-size: 2.1rem;
    /* margin-top: 0.5rem; */
    line-height: 3.1rem;
  }
  .video__text {
    font-size: 2.1rem;
    margin-top: 1.4rem;
    line-height: 3.1rem;
  }
  .footer__list {
    justify-content: space-around;
  }
  .footer__address {
    margin-top: 4.2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 100;
  }
  .footer__copy {
    margin-top: 2.3rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 100;
  }
}
@media screen and (max-width: 375px) {
  .inner {
    max-width: calc(100% - 1rem);
  }
  .about__card .card {
    width: 28rem;
    height: 28rem;
  }
  .about__card .card__text {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */